@import 'styles/generic.scss';

body {
  position: relative;
  // cursor: none;
}

.background-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.global-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
}