@import 'styles/variables.scss';


.header-container {
  pointer-events: none;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 66%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
