@import 'styles/generic.scss';

.global-cursor-container.is-hover-menu {
  .cursor {
    display: none;
  }

  .cursor-around.work {
    left: 668px !important;
    top: 80px !important;
    width: 80px;
    height: 80px;

  }
  
  .cursor-around.about {
    left: 783px !important;
    top: 80px !important;
    width: 80px;
    height: 80px;
  }
}

.global-cursor-container {
  position: absolute;
  width: 100%;
  height: 100%;

  .cursor {
    position: absolute;
    z-index: 999;
    pointer-events: none;
    transform: translateX(-50%) translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $electric_blue;
    transition-property: color;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.13, 1.04, 0.74, 1.07);
  }
  
  .cursor.is-hold {
    background-color: #fff;
    width: 7px;
    height: 7px;
  }
  
  .cursor-around {
    position: absolute;
    z-index: 999;
    pointer-events: none;
    transform: translateX(-50%) translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid $electric_blue;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.13, 1.04, 0.74, 1.07);
  }
  
  .cursor-around.is-hold {
    width: 30px;
    height: 30px;
    background-color: #192cfb80;
  }
}