@import 'styles/variables.scss';

.logo {
  pointer-events: initial;
  position: relative;
  width: 75px;
  height: 30px;

  .logo__text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

    &:hover {
      svg {
        fill: $electric_blue;
      }
    }
  }

  #logo__frame {
    position: absolute;
    left: 0;
    top: 0;
  }
}