@import 'styles/generic.scss';

.lines-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;

  .vertilines {
    position: absolute;
    top: 0;
    border: solid 0.5px $white;
    height: 100%;
    width: 0px;
  }
  
  .vertiline1 {
    left: 17%;
  }
  
  .vertiline2 {
    left: 50%;
    transform: translateX(-50%);
  }
  
  .vertiline3 {
    right: 17%;
  }
  
  .horilines {
    position: absolute;
    left: 0;
    border: solid 0.5px $white;
    width: 100%;
    height: 0px;
  }
  
  .horiline1 {
    top: 130px;
  }
  
  .horiline2 {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .horiline3 {
    bottom: 130px;
  }
}